@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2E6F40;
  --foreground: #FBE106;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2E6F40;
    --foreground: #FBE106;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
